body {
  background-color: #f0f2f6;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 20px;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  font-size: 0.9em;
  line-height: 1.5em;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  background-color: #1d1d2b;
}

.brand {
  width: 95px;
  height: 54px;
  float: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 95px;
  -ms-flex-preferred-size: 95px;
  flex-basis: 95px;
  background-image: url('../images/logo-white.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-menu {
  padding-left: 20px;
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.menu-button {
  float: none;
}

.sign-out {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

.small-button {
  display: block;
  padding: 8px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .8);
  border-radius: 2px;
  background-color: transparent;
  color: hsla(0, 0%, 100%, .8);
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

.small-button:hover {
  color: #fff;
}

.nav-link {
  padding: 15px 20px;
  opacity: 0.8;
  color: #fff;
  font-size: 0.75em;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.main-section {
  padding: 30px 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left-sidebar {
  max-width: 350px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.main-col {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  background-color: #fff;
}

.user-photo {
  overflow: hidden;
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
  border: 1px solid #f0f2f6;
  border-radius: 50%;
}

.user-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.9em;
  line-height: 1.5em;
  font-weight: 400;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  background-color: #fff;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #cd151e;
  font-size: 1.9em;
  line-height: 1em;
  text-align: center;
}

.welcome-text {
  max-width: 800px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 0.9em;
  line-height: 1.5em;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 10px 16px;
  border: 2px solid #c3121a;
  border-radius: 4px;
  background-color: #cd151e;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.button:hover {
  background-color: #c3121a;
}

.button.vac-req {
  padding: 10px 15px;
  font-size: 0.8em;
}

.social-icons-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.soc-icon {
  width: 26px;
  height: 26px;
  margin-right: 24px;
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.soc-icon:hover {
  opacity: 1;
}

.copyright {
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(51, 51, 51, .5);
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: center;
}

.login-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-wrap {
  min-width: 320px;
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.login-logo {
  display: block;
  width: 166px;
  height: 96px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-image: url('../images/logo-big.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-text {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-align: center;
}

.position {
  color: #666;
  font-size: 0.75em;
  line-height: 1.5em;
}

.vacation-stats-wrap {
  width: 100%;
  margin-top: 20px;
  padding: 13px 15px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  color: #666;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
}

.vac-stats-title {
  margin-bottom: 8px;
  color: #333;
  font-size: 18px;
}

.request-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 12px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #666;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

.request-btn:hover {
  background-color: #eef0f3;
}

.sub-menu {
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.sub-menu-item {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  padding: 5px 20px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #333;
  font-size: 14px;
  line-height: 1.5em;
  text-decoration: none;
}

.sub-menu-item:hover {
  background-color: #eef0f3;
}

.sub-menu-item.w--current {
  background-color: #e3e5e9;
}

.emp-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.cards-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.emp-photo {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #f0f2f6;
  border-radius: 50%;
}

.emp-name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.emp-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-15 {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 15%;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.col-full {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.emp-list-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search {
  max-width: 350px;
  min-height: 44px;
  margin-bottom: 0px;
  padding: 10px 15px 10px 45px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  background-image: url('../images/search.svg');
  background-position: 15px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.search-wrap {
  margin-left: -15px;
}

.form-wrapper {
  margin-bottom: 0px;
}

.input {
  margin-bottom: 0px;
  border-radius: 4px;
}

.input.wrong {
  border: 1px solid red;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #cd151e;
}

.paragraph {
  margin-bottom: 15px;
  font-size: 0.8em;
  line-height: 1.5em;
}

.important-text {
  font-size: 1.2em;
}

.vac-req-wrap {
  width: 100%;
  max-width: 610px;
  margin-top: 20px;
  font-size: 0.9em;
}

.label {
  margin-bottom: 5px;
  font-size: 0.85em;
  font-weight: 500;
}

.vac-req-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.vac-req-from {
  padding-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.vac-req-to {
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.submit-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.vac-req-force {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}

.vac-req-force.inactive {
  display: none;
}

.force-req-label {
  font-size: 0.85em;
}

.success-message {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  background-color: #fff;
}

.wrong-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border-radius: 4px;
  background-color: #ffdadb;
  font-size: 0.9em;
}

.wrong-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
}

.checkbox-field {
  margin-bottom: 0px;
}

.cover {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: hsla(0, 0%, 100%, .5);
}

.rules-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.line {
  display: block;
  width: 30px;
  height: 1px;
  margin: 15px auto;
  background-color: hsla(0, 0%, 78%, .5);
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 600px;
  margin-top: 15px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.centred-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-block {
  width: 100%;
}

.reason-area {
  max-width: 100%;
  min-height: 140px;
  margin-bottom: 25px;
  padding: 15px 20px;
  border-radius: 4px;
}

.decline-btn {
  margin: 4px;
  padding: 10px 12px;
  border-radius: 2px;
  background-color: #b11b1b;
  color: #fff;
  font-size: 0.65em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

.decline-btn:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.approve-btn {
  margin: 4px;
  padding: 10px 12px;
  border-radius: 2px;
  background-color: #00a651;
  color: #fff;
  font-size: 0.65em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

.approve-btn:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.period {
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
}

.status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 32px;
  background-color: grey;
  color: #fff;
  font-size: 0.65em;
  line-height: 1em;
  text-align: center;
  cursor: default;
}

.status.approved {
  background-color: green;
}

.status.declined {
  background-color: red;
}

.status-details-wrap {
  position: absolute;
  left: 0px;
  top: 45px;
  right: 0px;
  z-index: 100;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 12px 6px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5) hsla(0, 0%, 78%, .5) #e2e2e2;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: left;
}

.request-status-p {
  margin-bottom: 6px;
}

.status-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-btn-wrap.done {
  display: none;
}

.closed-date {
  font-size: 0.75em;
  line-height: 1em;
}

.cards-list-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col-20 {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.pop-up {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.pop-up-wrap {
  position: relative;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 78%, .5);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 24px;
  height: 24px;
  background-image: url('../images/cancel.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popover-rectengle {
  position: absolute;
  left: 0px;
  top: -8px;
  right: 0px;
  display: block;
  width: 0px;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e2e2e2;
  border-left: 8px solid transparent;
}

html.w-mod-js *[data-ix="initial-for-status-details"] {
  display: none;
}

html.w-mod-js *[data-ix="pop-initial"] {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .left-sidebar {
    max-width: 100%;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .main-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .sub-menu {
    margin-bottom: 30px;
  }
  .col-15.col-30 {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .list {
    min-width: 100%;
  }
  .actions-btn-wrap {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid hsla(0, 0%, 78%, .5);
  }
  .closed-date {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid hsla(0, 0%, 78%, .5);
  }
  .col-20.col-100 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col-20.hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .brand {
    display: none;
  }
  .nav-menu {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #1d1d2b;
  }
  .menu-button {
    opacity: 0.8;
    color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    opacity: 1;
  }
  .sign-out {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-link {
    padding: 15px;
  }
  .left-sidebar {
    padding: 0px;
  }
  .main-col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-heading {
    font-size: 1.6em;
  }
  .welcome-text {
    font-size: 0.8em;
  }
  .soc-icon.last {
    margin-right: 0px;
  }
  .copyright {
    font-size: 0.65em;
  }
  .col-15.col-30.hidden {
    display: none;
  }
  .footer {
    margin-top: 15px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .search {
    max-width: 100%;
  }
}

@media (max-width: 479px) {
  .menu-button {
    margin-left: -15px;
    padding: 18px;
  }
  .login-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .login-wrap {
    min-width: auto;
  }
  .emp-info-wrap {
    margin-bottom: 14px;
  }
  .col-15.col-30.col-100 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .search {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .search-wrap {
    margin-right: -15px;
  }
  .vac-req-from {
    margin-bottom: 15px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .vac-req-to {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .wrong-message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .wrong-icon {
    margin-bottom: 15px;
  }
  .paragraph-2 {
    text-align: center;
  }
}

